<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.buckit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- login flow -->
        <activity
            android:name=".SigninActivity"
            android:label="Sign In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register" /> <!-- main -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--Activity to simulate the travel inspiration bucket -->
        <activity
            android:name=".ui.inspirationFeed.TravelActivity"
            android:label="Inspiration for Travel">
        </activity>

        <!--Activity to simulate the cooking inspiration bucket -->
        <activity
            android:name=".ui.inspirationFeed.CookActivity"
            android:label="Inspiration for Cooking">
        </activity>

        <!--Activity to simulate the kindness inspiration bucket -->
        <activity
            android:name=".ui.inspirationFeed.KindActivity"
            android:label="Inspiration for Kindness">
        </activity>

        <!--Activity for the simulated Florida travel list -->
        <activity android:name=".ui.inspirationFeed.Travel1List"
            android:label="Florida">
        </activity>

        <!--Activity for the simulated India travel list -->
        <activity android:name=".ui.inspirationFeed.Travel2List"
            android:label="India">
        </activity>

        <!--Activity for the simulated Chocolate Chip Cookies cooking list -->
        <activity android:name=".ui.inspirationFeed.Cook1List"
            android:label="Mexican Food">
        </activity>

        <!--Activity for the simulated Fried Rice cooking list -->
        <activity android:name=".ui.inspirationFeed.Cook2List"
            android:label="Korean Food">
        </activity>

        <!--Activity for the simulated Donations kindness list -->
        <activity android:name=".ui.inspirationFeed.Kind1List"
            android:label="Donations">
        </activity>

        <!--Activity for the simulated Volunteering kindness list -->
        <activity android:name=".ui.inspirationFeed.Kind2List"
            android:label="Volunteering">
        </activity>

        <!--Activity to go to simulated friend's home cooking page -->
        <activity android:name=".ui.inspirationFeed.HomeCookingFriend"
            android:label="Home Cooking">
        </activity>

        <!-- Activity to go to simulated friend's spring break list -->
        <activity android:name=".ui.inspirationFeed.SpringBreakFriend"
            android:label="Spring Break">
        </activity>

        <!-- Activity to go to simulated friend's books to read list -->
        <activity android:name=".ui.inspirationFeed.BookFriend"
            android:label="Books to Read">
        </activity>

        <!-- Bucket with inspiration feed travel list added to it -->
        <activity android:name=".ui.inspirationFeed.BucketWithInspo"
            android:label="Travel">
        </activity>

        <!-- Florida list within the user's buckets -->
        <activity android:name=".ui.inspirationFeed.FloridaInBucket"
            android:label="Florida">

        </activity>
            android:label="My Buckets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyListsActivity"
            android:label="My Lists"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListActivity"
            android:label="My List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubgoalActivity"
            android:label="Subgoals"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>