<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.buckit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--login flow-->
        <activity
            android:name=".SigninActivity"
            android:label="Sign In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register">
        </activity>

        <!--main-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <!--Activity to simulate the travel inspiration bucket -->
        <activity
            android:name=".ui.inspirationFeed.TravelActivity"
            android:label="Inspiration for Travel">
        </activity>

        <!--Activity to simulate the cooking inspiration bucket -->
        <activity
            android:name=".ui.inspirationFeed.CookActivity"
            android:label="Inspiration for Cooking">
        </activity>

        <!--Activity to simulate the kindness inspiration bucket -->
        <activity
            android:name=".ui.inspirationFeed.KindActivity"
            android:label="Inspiration for Kindness">
        </activity>

        <!--Activity for the simulated Florida travel list -->
        <activity android:name=".ui.inspirationFeed.Travel1List"
            android:label="Florida">
        </activity>

        <!--Activity for the simulated India travel list -->
        <activity android:name=".ui.inspirationFeed.Travel2List"
            android:label="India">
        </activity>

        <!--Activity for the simulated Chocolate Chip Cookies cooking list -->
        <activity android:name=".ui.inspirationFeed.Cook1List"
            android:label="Chocolate Chip Cookies">
        </activity>

        <!--Activity for the simulated Fried Rice cooking list -->
        <activity android:name=".ui.inspirationFeed.Cook2List"
            android:label="Fried Rice">
        </activity>

        <!--Activity for the simulated Donations kindness list -->
        <activity android:name=".ui.inspirationFeed.Kind1List"
            android:label="Donations">
        </activity>

        <!--Activity for the simulated Volunteering kindness list -->
        <activity android:name=".ui.inspirationFeed.Kind2List"
            android:label="Volunteering">
        </activity>

    </application>

</manifest>